<header>
  <h1 class="text-center bg-light" style="margin: 0em; padding: 3px;">
    School Management System
  </h1>

  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

        <li class="nav-item <%= path.includes('/home') ? 'active' : '' %>">
          <a class="nav-link" href="<%= userType === 'teacher'? '/teacher/home' : 
          (userType === 'staff') ? '/staff/home' : 
          (userType === 'student') ? '/student/home'
          : '/home' %>">
            Home <span class="sr-only">(current)</span>
          </a>
        </li>

        <% if (isLoggedIn === true) {%>

        <% if ((userType === 'staff' && AdminPrivileges)) {%>
        <li class="nav-item <%= path.includes('staffData') ? 'active' : '' %>">
          <a class="nav-link" href="/staff/StaffData">Staff</a>
        </li>
        <% } %>

        <% if ((userType === 'staff' && AdminPrivileges) || userType === 'teacher') {%>
        <li class="nav-item <%= path.includes('studentData') ? 'active' : '' %>">
          <a class="nav-link" href="">Student</a>
        </li>
        <% } %>

        <% if((userType === 'staff' && AdminPrivileges)) { %>
        <li class="nav-item <%= path.includes('teacherData') ? 'active' : '' %>">
          <a class="nav-link" href="">Teacher</a>
        </li>
        <% } %>

        <% if (userType === 'teacher' || userType === 'student') {%>
        <li class="nav-item <%= path.includes('academic') ? 'active' : '' %>">
          <a class="nav-link" href="">Academic</a>
        </li>
        <% } %>

        <% if ((userType === 'staff') || userType === 'student') {%>
        <li class="nav-item <%= path.includes('library') ? 'active' : '' %>">
          <a class="nav-link" href="">Library</a>
        </li>
        <% } %>

        <% if (userType === 'teacher') {%>
        <li class="nav-item <%= path.includes('notice') ? 'active' : '' %>">
          <a class="nav-link" href="">Notice</a>
        </li>
        <% } %>

        <% if ((userType === 'staff' && AdminPrivileges)) {%>
        <li class="nav-item <%= path.includes('class') ? 'active' : '' %>">
          <a class="nav-link" href="">Class</a>
        </li>
        <% } %>

        <% } %>

        <li class="nav-item <%= path.includes('/about') ? 'active' : '' %>">
          <a class="nav-link" href="<%= userType === 'teacher'? '/teacher/about' : 
            (userType === 'staff') ? '/staff/about' : 
            (userType === 'student') ? '/student/about'
            : '/about' %>">About</a>
        </li>

        <li class="nav-item <%= path.includes('/contact') ? 'active' : '' %>">
          <a class="nav-link" href="<%= userType === 'teacher'? '/teacher/contact' : 
            (userType === 'staff') ? '/staff/contact' : 
            (userType === 'student') ? '/student/contact'
            : '/contact' %>">Contact</a>
        </li>

      </ul>
      <ul class="navbar-nav ml-auto">

        <% if (!isLoggedIn) { %>
        <li class="nav-item nav-inline dropdown mr-auto mr-4 pr-4 <%= path.includes('/login') ? 'active' : '' %>">
          <a class="nav-inline nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Login As
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/staff/login">Staff</a>
            <a class="dropdown-item" href="/student/login">Student</a>
            <a class="dropdown-item" href="/teacher/login">Teacher</a>
          </div>
        </li>

        <% } else { %>
        <li class="nav-item nav-inline dropdown mr-4 pr-4 <%= path.includes('newPass') ? 'active' : '' %>">
          <a class="nav-inline nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= UName %>
          </a>
          <div class="dropdown-menu ml-0 mr-0" aria-labelledby="navbarDropdown">

            <a class="dropdown-item pl-1 ml-1" href="<%= userType === 'teacher'? '/teacher/newPass' : 
            (userType === 'staff') ? '/staff/newPass' : '/student/newPass'%>">
              Change Password
            </a>

            <form class="form-inline mr-0 p-0 ml-0" action="<%= userType === 'teacher'? '/teacher/logout' : 
                (userType === 'staff') ? '/staff/logout' : '/student/logout' %>" method="POST">
              <input type="hidden" name="_csrf" value="<%= csrfToken %>">
              <button type="submit" class="dropdown-item btn-link p-1 m-1">
                <span class="mr-0">Logout</span>
              </button>
            </form>
          </div>
        </li>
        <% } %>

      </ul>
    </div>
  </nav>
</header>