<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/nav.ejs') %>
  <main class="container">
    <table style="width:100%">
      <tr>
        <th>Date</th>
        <th>Title</th>
        <th>File</th>
      </tr>
      <% for (notice of notices)  {%>
      <tr>
        <td>
          <span>
            <%= 
            new Date(notice.DatePosted).getDate() 
            %>/<%=
             new Date(notice.DatePosted).getMonth() 
            %>/<%=
             new Date(notice.DatePosted).getFullYear() 
            %>
          </span>
        </td>
        <td><%= notice.Title %></td>
        <td><%= notice.FileLocation %></td>
      </tr>
      <% } %>
    </table>
  </main>
  <%- include('includes/end.ejs')%>