<%- include('includes/head.ejs') %>
</head>

<body>
  <%- include('includes/nav.ejs') %>
  <main class="container pt-5">
    <table style="width:100%" class="table table-bordered table-hover">
      <thead>
        <tr class="bg-primary">
          <th>Sr. No.</th>
          <th>Date</th>
          <th>Title</th>
          <th>File</th>
        </tr>
      </thead>
      <tbody>
        <% var i = 1; %>
        <% for (notice of notices)  {%>
        <tr class="table-primary">
          <td><%= i %></td>
          <td>
            <span>
              <%= 
            new Date(notice.DatePosted).getDate() 
            %>/<%=
             new Date(notice.DatePosted).getMonth() 
            %>/<%=
             new Date(notice.DatePosted).getFullYear() 
            %>
            </span>
          </td>
          <td><%= notice.Title %></td>
          <td><%= notice.FileLocation %></td>
        </tr>
        <% i++; } %>
      </tbody>
    </table>
  </main>
  <%- include('includes/end.ejs')%>