<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/nav.ejs') %>
    <main>
        <div class="container col-lg-6 p-5 col-sm-12">
            <div class="border border-light rounded shadow p-4">
                <div class="text-center">
                    <h1><%= pageTitle %></h1>
                </div>
                <form method="POST" action="<%= path %>" class="">
                    <div class="form-group">
                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                            placeholder="Enter email or username" name="Username" required>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" id="exampleInputPassword1"
                            placeholder="Enter Password" name="Password" required>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </main>


    <%- include('includes/end.ejs')%>