<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container">
        <h1><%= pageTitle %></h1>
        <div class="card">

            <div class="card-body">
                <h5 class="card-title">Staff details</h5>
                    <h6>
                        Fname: <%= staff.Fname %>
                        <br>
                        Mname: <%= staff.Mname %>
                        <br>
                        Lname:<%= staff.Lname %>
                    </h6>
                
                    <h6>
                        Qualification:<%= staff.Qualification %>
                    </h6>
            
                    <h6>
                        Post:<%= staff.Post %>
                    </h6>
               
                    <h6>
                        Gender:<%= staff.Gender %>
                    <h6>
              
                    <h6>
                        Address:<%= staff.Address %>
                    </h6>
                    <h6>PhoneNo:<%= staff.PhoneNo %></h6>
                 
                    <h6>
                        Admin privileges:<%= staff.AdminPrivileges ? "yes":"no" %>
                    </h6>

                    <h6>
                        phoneno:<%= staff.PhoneNo %>
                 </h6>
                 <h6>
                        login  username:<%= staff.Username %>
                    </h6>
                    <h6>
                        email id:    <%= staff.Email %>
                        </h6>
        

                    <div class="text-center">
                    <a href="/staff/staffData/edit/>" class="btn btn-primary">Edit</a>
                    </div>        
                </div>
        </div>
    </main>
    <%- include('../includes/end.ejs')%>