<%- include('../includes/head.ejs') %>
</head>
<% const bDate = new Date(staff.BirthDate) %>
<% const jDate = ( staff.JoinDate === undefined ) ? new Date : new Date(staff.JoinDate) %>
<% const BDate = ( staff.BirthDate === undefined ) ? "" : bDate.getFullYear() + "-"  + ("0" + (bDate.getMonth() + 1)).slice(-2) 
                                                                              + "-" + ("0" + bDate.getDate()).slice(-2); %>
<% const JDate = jDate.getFullYear() + "-"  + ("0" + (jDate.getMonth() + 1)).slice(-2) + "-" + ("0" + jDate.getDate()).slice(-2);  %>

<body data-spy="scroll">
    <%- include('../includes/nav.ejs') %>
    <main class="container pt-5">
        <% if (errorMessage.length > 0) {%>
        <div class="alert alert-danger text-center" role="alert">
            <%= errorMessage %>
        </div>
        <% } %>
        <div class="container">
            <div class="text-center">
                <h1>
                    Staff Add Form
                </h1>
            </div>
            <form class="form" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="FirstName">First name: </label>
                        <input type="text"
                            class="form-control <%= validationErrors.find(e => e.param === 'Fname') ? 'is-invalid' : '' %>"
                            id="FirstName" name="Fname" placeholder="First name" value="<%= staff.Fname %>" required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="MiddleName">Middle name: </label>
                        <input type="text"
                            class="form-control <%= validationErrors.find(e => e.param === 'Mname') ? 'is-invalid' : '' %>"
                            id="MiddleName" name="Mname" placeholder="Middle name" value="<%= staff.Mname %>">
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="LastName">Last name: </label>
                        <input type="text"
                            class="form-control <%= validationErrors.find(e => e.param === 'Lname') ? 'is-invalid' : '' %>"
                            id="LastName" name="Lname" placeholder="Last name" value="<%= staff.Lname %>" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="BirthDate">Birth Date:</label>
                        <input type="date" class="form-control" value="<%- BDate %>" id="BirthDate" name="BirthDate"
                            required>
                    </div>
                    <div class="col-md-3 mb-3">
                        <label for="JoinDate">Join Date: </label>
                        <input type="date" class="form-control" value="<%- JDate %>" id="JoinDate" name="JoinDate"
                            required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-3 mb-3">
                        <label for="Qualification">Qualification: </label>
                        <input type="text"
                            class="form-control <%= validationErrors.find(e => e.param === 'Qualification') ? 'is-invalid' : '' %>"
                            id="Qualification" name="Qualification" placeholder="Qualification"
                            value="<%= staff.Qualification %>" required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="Post">Post: </label>
                        <input type="text"
                            class="form-control <%= validationErrors.find(e => e.param === 'Post') ? 'is-invalid' : '' %>"
                            id="Post" name="Post" placeholder="Post" value="<%= staff.Post %>" required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="Salary">Salary: </label>
                        <input type="number" min="0" step="1"
                            class="form-control <%= validationErrors.find(e => e.param === 'Salary') ? 'is-invalid' : '' %>"
                            id="Salary" name="Salary" placeholder="Salary" value="<%= staff.Salary %>" required>
                    </div>
                </div>

                <div class="form-row">

                    <div class="col-md-3 mb-3">
                        <label for="PhoneNo1">Phone 1:</label>
                        <input type="tel"
                            class="form-control <%= validationErrors.find(e => e.param === 'PhoneNo1') ? 'is-invalid' : '' %>"
                            id="PhoneNo1" name="PhoneNo1" placeholder="PhoneNo1" value="<%= staff.PhoneNo1 %>" required>
                    </div>

                    <div class="col-md-3 mb-3">
                        <label for="PhoneNo2">Phone 2:</label>
                        <input type="tel"
                            class="form-control <%= validationErrors.find(e => e.param === 'PhoneNo2') ? 'is-invalid' : '' %>"
                            id="PhoneNo2" name="PhoneNo2" placeholder="PhoneNo2" value="<%= staff.PhoneNo2 %>">
                    </div>
                </div>

                <div class="form-row">
                    <div class="col-md-5 mb-3">
                        <label for="Email">Email address</label>
                        <input type="email"
                            class="form-control <%= validationErrors.find(e => e.param === 'Email') ? 'is-invalid' : '' %>"
                            id="Email" name="Email" placeholder="Enter email" value="<%= staff.Email %>">
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-3">
                        <label for="Gender">Gender:</label>
                        <select id="Gender" class="form-control" name="Gender" required>
                            <option name="Gender" <%= (staff.Gender === 'Male') ? 'selected' : '' %>>Male</option>
                            <option name="Gender" <%= (staff.Gender === 'Female') ? 'selected' : '' %>>Female</option>
                            <option name="Gender" <%= (staff.Gender === 'Other') ? 'selected' : '' %>>Other</option>
                        </select>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-4 mr-auto">
                        <label for="Address">Address:</label>
                        <textarea
                            class="form-control <%= validationErrors.find(e => e.param === 'Address') ? 'is-invalid' : '' %>"
                            id="Address" placeholder="Address" name="Address" rows="3"
                            required><%= staff.Address %></textarea>
                    </div>
                </div>

                <div class="form-row">
                    <div class="pr-1 pt-0 mt-0">Admin Privileges:</div>
                    <div class="custom-control custom-switch">
                        <input type="checkbox" class="custom-control-input"
                            <%= ( staff.AdminPrivileges === 'on' || staff.AdminPrivileges == '1' ) ? 'checked' : '' %>
                            id="AdminPrivileges" name="AdminPrivileges">
                        <label class="custom-control-label" for="AdminPrivileges"></label>
                    </div>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-2">ADD</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../includes/end.ejs')%>