<%- include('../includes/head.ejs') %>
</head>

<body>
    <%- include('../includes/nav.ejs') %>
    <main class="container pt-5">
        <div class="container">
            <form class="form" method="POST">
                <input type="hidden" name="_csrf" value="<%= csrfToken %>">
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="FirstName">First name</label>
                        <input type="text" class="form-control" id="FirstName" name="Fname" placeholder="First name"
                            value="" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="MiddleName">Middle name</label>
                        <input type="text" class="form-control" id="MiddleName" name="Mname" placeholder="Middle name"
                            value="" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="LastName">Last name</label>
                        <input type="text" class="form-control" id="LastName" name="Lname" placeholder="Last name"
                            value="" required>
                    </div>
                </div>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <label for="BirthDate">Birth Date</label>
                        <input type="date" value="" id="BirthDate" name="BirthDate">
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="JoinDate">Join Date</label>
                        <input type="date" value="<%-  String((new Date).getFullYear() 
                            + "-" + Number((new Date).getMonth()+1) 
                            + "-" +(new Date).getDate()).trim() %>" id="JoinDate" name="JoinDate">

                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="Gender">Gender</label>
                        <select id="Gender" class="form-control" name="Gender">
                            <option name="Gender" selected>Male</option>
                            <option name="Gender">Female</option>
                            <option name="Gender">Other</option>
                        </select>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Qualification">Qualification</label>
                        <input type="text" class="form-control" id="Qualification" name="Qualification"
                            placeholder="Qualification" value="" required>
                    </div>

                    <div class="col-md-4 mb-3">
                        <label for="Salary">Salary</label>
                        <input type="number" class="form-control" id="Salary" name="Salary" placeholder="Salary"
                            value="" required>
                    </div>
                </div>


                <div class="text-center">
                    <button type="submit" class="btn btn-primary mb-2">ADD</button>
                </div>
            </form>
        </div>
    </main>
    <%- include('../includes/end.ejs')%>